<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:brown;">cbv_context</h1>
        <h1 style="color:blue">This is rendered by cbv_context of html page</h1>
        <h1 style="color:red;background-color:pink; width:fit-content;">{{name}}</h1>
        <h1 style="color:red;">{{age}}</h1>
    </center>
</body>
</html>